<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>OPENDynamics App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript">
    var model = {
      user:"Anil"
    };
    var todoApp = angular.module('todoApp', []);
    todoApp.run(function ($http){
      $http.get('todo.json').success(function(data){
        model.items = data; 
      });
    });
    todoApp.filter('checkedInItems', function(){
      return function(items, showComplete){
        var filteredResult = [];
        angular.forEach(items, function(item){
          if(!item.done || showComplete){
            filteredResult.push(item);
          }
        });
        return filteredResult;
      }
    })
    todoApp.controller('ToDoCtrl', function($scope){
      $scope.todo = model;
      $scope.incompleteCount = function(){
        var count = 0;
        angular.forEach($scope.todo.items, function(item){
          if(!item.done){
            count++;
          }
        });
        return count;
      };
      $scope.warningLevel = function(){
        return $scope.incompleteCount() < 2 ? "label-success":"label-warning"
      };      

      var myFunc = function(){
          
      };
      $scope.addNewItem = function(actionText){
        if(actionText && actionText.trim() != "")
        {
          $scope.todo.items.push({action:actionText, done:false});
        }             
      };
    });
  </script>
</head>
<body ng-controller="ToDoCtrl">
  <div class="page-header">
    <h1>
      {{todo.user}}'s To Do List
      <span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() < 1">{{incompleteCount()}}</span>
    </h1>
  </div>
  <div class="panel">
    <div class="input-group">
      <input class="form-control" ng-model="actionText"/>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
      </span> 
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todo.items | checkedInItems:showComplete | orderBy:'action'">
          <td>{{item.action}}</td>
          <td><input type="checkbox" ng-model="item.done"></td>
        </tr>     
      </tbody>
    </table>
  </div>  
  <div class="checkbox-inline">
    <label><input type="checkbox" ng-model="showComplete">Show Complete</label>
  </div>  
</body>
</html>
